*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body
{
    height:100vh;
    place-items: center;
    display: grid;
}

.box
{
    height: 300px;
    width: 300px;
}

.guage
{
    position: relative;
    width: 100%;
    height: 100%;
    border: 10px solid #333;
    border-radius: 50%;
    border-bottom: 10px dashed #fff;
}

.pointer
{
    position:relative;
    bottom: 40%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 140px solid blue;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    transform: rotate(-125deg);
    transform-origin: center bottom;
}

.animate
{
    transition-duration: 1.5s;
    transition-property: 0 opacity;
    transition-timing-function: ease;
}

.low
{
    position: relative;
    right: 50px;
    color:blue;
    top: 180px;
    font-size: 50px;
    left: -100px;
}

.medium
{
    position: relative;
    bottom: 130px;
    left: 70px;
    font-size: 50px;
    color: green;
}

.high
{
    position: relative;
    left: 310px;
    top: 62px;
    font-size: 50px;
    color: red;
}

h1
{
    position: relative;
    top: 28%;
}

.guage:hover .pointerAnimation
{
   transform: rotate(80deg);
   border-bottom-color: rgb(191, 31, 31);
}